<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
  package="com.lcfarm.flutter_install_plugin">
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <application>
       <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider.install"
            android:exported="false"
            tools:replace="android:authorities"
            android:grantUriPermissions="true">
            <meta-data
                tools:replace="android:resource"
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_install_paths"/>
        </provider>
    </application>
</manifest>
